Repository natelandau/ansible-homelab-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, lint-shellscript-templates, run-shellscripts-bats-tests, ansible-encryption-check

.pre-commit-config.yaml:

---
repos:
    - repo: "https://github.com/commitizen-tools/commitizen"
      rev: v2.42.1
      hooks:
          - id: "commitizen"

    - repo: "https://github.com/pre-commit/pre-commit-hooks"
      rev: v4.4.0
      hooks:
          - id: check-added-large-files
          - id: check-ast
          - id: check-builtin-literals
          - id: check-case-conflict
          - id: check-docstring-first
          - id: check-json
            exclude: ^files/certs
          - id: check-merge-conflict
          - id: check-shebang-scripts-are-executable
          - id: check-executables-have-shebangs
          - id: check-merge-conflict
          - id: check-symlinks
          - id: check-toml
          - id: check-vcs-permalinks
          - id: check-xml
          - id: check-yaml
          - id: detect-private-key
          - id: mixed-line-ending
          - id: trailing-whitespace
            types: [python]
            args: [--markdown-linebreak-ext=md]

    - repo: "https://github.com/adrienverge/yamllint.git"
      rev: v1.29.0
      hooks:
          - id: yamllint
            files: \.(yaml|yml)$
            exclude: |
                (?x)^(
                \.cz|
                vault|
                ./galaxy-roles
                )\.(yaml|yml)$
            entry: yamllint --strict --config-file .yamllint.yml

    - repo: local
      hooks:
          - id: vault-pre-commit
            name: check unencrypted vault
            entry: scripts/ansible-vault-precommit.sh
            language: system

          - id: stopwords
            name: check stopwords
            entry: scripts/stopwords.sh
            language: system

          - id: ansible-lint
            name: running ansible-lint
            language: system
            files: \.(yaml|yml)$
            pass_filenames: false
            entry: ansible-lint --force-color --config-file .ansible-lint.yml

          - id: "lint-shellscript-templates"
            name: lint shellscript templates
            language: system
            files: \.sh\.j2$
            entry: shellcheck -x --exclude=1009,1054,1056,1072,1073,1083,2001,2148

          - id: "run-shellscripts-bats-tests"
            name: run bats unit tests
            language: system
            files: \.bats$
            entry: bats -t

          - id: "ansible-encryption-check"
            name: Ansible Encryption Check
            language: system
            entry: scripts/ansible-vault-precommit.sh
            files: vault\.ya?ml$

fix: fix nomad configuration
  templates/consul.hcl.j2
  templates/nomad.hcl.j2
Due: none

fix: update jobs
  .pre-commit-config.yaml
  default_variables.yml
  poetry.lock
  templates/consul_services/consul_synology_checks.json.j2
  templates/docker_compose_files/synology_sabnzbd.yml.j2
  templates/nomad_jobs/jellyfin.hcl
  templates/nomad_jobs/recyclarr.hcl
  templates/nomad_jobs/reverse-proxy.hcl
  templates/nomad_jobs/stash.hcl
  templates/nomad_jobs/valentina.hcl
  vault.yml
Due: ansible-lint, ansible-encryption-check

fix: cleanup jobs
  default_variables.yml
  templates/consul_services/consul_synology_checks.json.j2
  templates/docker_compose_files/synology_jellyfin.yml.j2
  templates/nomad_jobs/jellyfin.hcl
  templates/nomad_jobs/overseerr.hcl
  templates/nomad_jobs/promtail-syslogs.hcl
  templates/nomad_jobs/reverse-proxy.hcl
  templates/nomad_jobs/sabnzbd.hcl
  templates/nomad_jobs/stash.hcl
  templates/nomad_jobs/valentina.hcl
  vault.yml
Due: ansible-lint, ansible-encryption-check

feat: add gitea
  .pre-commit-config.yaml
  README.md
  default_variables.yml
  poetry.lock
  templates/nomad_jobs/gitea.hcl
  templates/nomad_jobs/reverse-proxy.hcl
  templates/scripts/service_backups.sh.j2
  vault.yml
Due: ansible-lint, lint-shellscript-templates, ansible-encryption-check

build(vscode): use Ansible extension
  .vscode/settings.json
  poetry.lock
Due: none

feat: purge dangling Docker containers on job sync
  ansible.cfg
  tasks/orchestration_jobs.yml
Due: ansible-lint

fix: update job files
  default_variables.yml
  templates/docker_compose_files/synology_sabnzbd.yml.j2
  templates/nomad_jobs/backup_local_filesystems.hcl
  templates/nomad_jobs/gitea.hcl
  templates/nomad_jobs/icloud_backup.hcl
  templates/nomad_jobs/pihole.hcl
  templates/nomad_jobs/remove_nzbs.hcl
Due: ansible-lint

fix(recyclarr): rules for sonarr v4
  .pre-commit-config.yaml
  default_variables.yml
  poetry.lock
  templates/nomad_jobs/recyclarr.hcl
  templates/nomad_jobs/valentina.hcl
Due: ansible-lint

feat: add hishtory-server to nomad services
  .typos.toml
  templates/nomad_jobs/hishtory-server.hcl
  vault.yml
Due: ansible-lint, ansible-encryption-check

feat: add speedtest-tracker to nomad services
  templates/nomad_jobs/speedtest.hcl
Due: none

build: update dependencies
  .pre-commit-config.yaml
  .vscode/settings.json
  default_variables.yml
  handlers/main.yml
  poetry.lock
  pyproject.toml
  scripts/update_dependencies.py
  templates/nomad_jobs/hishtory-server.hcl
  templates/nomad_jobs/recyclarr.hcl
  vault.yml
Due: ansible-lint, ansible-encryption-check

build: update dependencies
  .ansible-lint.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  default_variables.yml
  inventory.yml
  main.yml
  poetry.lock
  pyproject.toml
  tasks/consul.yml
  tasks/logrotate.yml
  tasks/nomad.yml
  tasks/packages.yml
  tasks/telegraf.yml
  vault.yml
Due: ansible-lint, ansible-encryption-check

fix: nomad handler runs correctly
  handlers/main.yml
Due: ansible-lint

fix: favor sudoers.d over lines in /etc/sudoers
  tasks/backups.yml
Due: ansible-lint

fix: remove homebrew casks
  default_variables.yml
  tasks/packages.yml
Due: ansible-lint
